@import url('https://fonts.googleapis.com/css2?family=Ojuju&display=swap');

/* Navbar.css */
.navbar {
    background-color: #fff; /* Fondo blanco */
    padding: 30px 50px; /* Espaciado interno aumentado */
    border-bottom: 2px solid #007bff; /* Borde inferior azul brillante */
}

.navbar-list {
    list-style: none;
    display: flex;
    padding: 0;
    justify-content: center;
}

.navbar-item {
    margin: 0 30px; /* Espacio entre elementos aumentado */
}

.navbar-link {
    text-decoration: none;
    color: #000; /* Color de texto negro */
    font-family: 'Ojuju', cursive; /* Fuente Ojuju */
    font-size: 2.5rem; /* Tamaño de fuente aumentado */
    transition: color 0.3s ease;
    display: flex;
    align-items: center; /* Centrar verticalmente */
}

.navbar-link:hover {
    color: #007bff; /* Color azul brillante al pasar el ratón */
}

.navbar-icon {
    margin-right: 10px; /* Espacio entre el icono y el texto */
    font-size: 2.5rem; /* Tamaño de icono */
}
